extends ../layout

block content

    a(href='/bicicletas') Volver
    br
    br
    br

    #contenedorNewBike
    h2#encabezado Nueva Bicicleta
    form#formulario1(name='formulario1' method='post' action='/bicicletas/create')
        fieldset#datos_personales
        legend Datos nueva bicicleta
        label(for='id' ) ID:
        br
        input#id(type='id' name='id')
        br
        label(for='color') Color:
        br
        input#color(type='text' name='color')
        br
        label(for='modelo') Modelo:
        br
        input#modelo(type='text' name='modelo')
        br
        label(for='latitud') Latitud:
        br
        input#lat(type='text' name='lat')
        br
        label(for='longitud') Longitud:
        br
        input#lng(type='text' name='lng')
        br
        input(type='reset' value='Limpiar Formulario')
        input(type='submit' value='Agregar')
